.receiverMineTitleArea{
  height:116rpx;
  background-color: #FFFFFF;
  position: relative;
}

.receiverMineTitle{
  font-size: 40rpx;
  color: #353535;
  font-family: Segoe UI;
  font-weight: Bold;
  position: absolute;
  left: 38rpx;
  top:32rpx;
}

