@import '@styles/theme.scss';

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 28px;
}

.nothing {
  margin-top: 150px;
}

.nothing {
  height: calc(100% - 36px);
}
