.card {
  display: flex;
  flex-direction: column;
  margin: 0 28px;
  margin-top: 40px;
  padding: 25px 22px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  opacity: 1;
  border-radius: 11px;
  position: relative;
}
